.item {
  position: relative;
  display: flex;
  padding-bottom: 50pt;
  color: #7f8c8d;

  & > [class*="item-"]:not(.item-center){
    width: 45%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2pt;
    background-color: #95a5a6;
  }

  &.item--end::before {
    display: none;
  }
  &.item--pending {
    $color: #f39c12;
    $color-dark: #d35400;

    color: $color-dark;
    &::before {
      background-color: $color;
    }
    > .item-center > .item-center-icon {
      border-color: $color;
    }
  }
  &.item--waiting {
    $color: #3498db;
    $color-dark: #2980b9;

    color: #2980b9;
    &::before {
      background-color: $color;
    }
    > .item-center > .item-center-icon {
      border-color: $color;
    }
  }
  &.item--done {
    $color: #2ecc71;
    $color-dark: #27ae60;

    color: $color-dark;
    &::before {
      background-color: $color;
    }
    > .item-center > .item-center-icon {
      border-color: $color;
    }
  }

  > .item-left {
    text-align: right;
    > div {
      margin-left: auto;
    }
  }
  > .item-center {
    display: block;
    width: 24pt;
    margin: 0 10pt;
    position: relative;
    display: flex;
    justify-content: center;
    
    > .item-center-icon {
      border-radius: 50%;
      border-width: 2pt;
      border-color: gray;
      border-style: solid;
      height: 24pt;
      width: 24pt;
      background-color: white;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &.item-center-icon-sm {
        height: 12pt;
        width: 12pt;
      }
      > .item-center-icon-content {

      }
    }
  }
  > .item-right {
    > div {
      margin-right: auto;
    }
  }
}