.item {
  position: relative;
  display: flex;
  padding-bottom: 50px;
}

.item > [class*="item-"]:not(.item-center){
  width: 45%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: grey;
}

.item-end::before {
  display: none;
}

.item-left {
  text-align: right;
}

.item-left > div {
  margin-left: auto;
}

.item-center {
  display: block;
  width: 24px;
  margin: 0 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.item-center-icon {
  border-radius: 50%;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  height: 24px;
  width: 24px;
  background-color: white;
  flex-shrink: 0;
}

.item-center-icon.item-center-icon-sm {
  height: 12px;
  width: 12px;
}

.item-right {
}

.item-right > div {
  margin-right: auto;
}